html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CITY SCAPE STYLES BEGIN */
.gameWrapper {
	background-color: #fff;
	display: block;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.road {
	background-color: #545454;
	bottom: 50px;
	height: 3px;
	position: absolute;
	width: 100%;
}

.cityScape {
	-webkit-animation: slidex 18s linear infinite;
	-moz-animation: slidex 18s linear infinite;
	-ms-animation: slidex 18s linear infinite;
	-o-animation: slidex 18s linear infinite;
	animation: slidex 18s linear infinite;
	background-image: url('assets/cityScape.png');
	background-position: center center;
	background-repeat: repeat-x;
	background-size: cover;
	bottom: 50px;
	height: 365px;
	position: fixed;
	width: 100%;
}

@-webkit-keyframes slidex {
	FROM { background-position: 0 center; }
	TO { background-position: -1365px center; }
}
@-moz-keyframes slidex {
	FROM { background-position: 0 center; }
	TO { background-position: -1365px center; }
}
@-ms-keyframes slidex {
	FROM { background-position: 0 center; }
	TO { background-position: -1365px center; }
}
@-o-keyframes slidex {
	FROM { background-position: 0 center; }
	TO { background-position: -1365px center; }
}
@keyframes slidex {
	FROM { background-position: 0 center; }
	TO { background-position: -1365px center; }
}

.wheels {
	background-image: url('assets/wheels.png');
	background-repeat: no-repeat;
	bottom: 52px;
	height: 43px;
	left: 150px;
	position: absolute;
	width: 142px;
}

.hondaFit {
	-webkit-animation: bounce 0.85s infinite;
	-moz-animation: bounce 0.85s infinite;
	-ms-animation: bounce 0.85s infinite;
	-o-animation: bounce 0.85s infinite;
	animation: bounce 0.85s infinite;
	background-image: url('assets/hondaFit.png');
	background-repeat: no-repeat;
	bottom: 64px;
	height: 97px;
	left: 118px;
	position: absolute;
	width: 212px;
}

@-webkit-keyframes bounce {
	0% { bottom: 65px; }
	25%, 75% { bottom: 68px; }
	50% { bottom: 69px; }
	100% { bottom: 65px; }
}

@-moz-keyframes bounce {
	0% { bottom: 65px; }
	25%, 75% { bottom: 68px; }
	50% { bottom: 69px; }
	100% { bottom: 65px; }
}

@-ms-keyframes bounce {
	0% { bottom: 65px; }
	25%, 75% { bottom: 68px; }
	50% bottom: 69px; }
	100% { bottom: 65px; }
}

@-o-keyframes bounce {
	0% { bottom: 65px; }
	25%, 75% { bottom: 68px; }
	50% { bottom: 69px; }
	100% { bottom: 65px; }
}

@keyframes bounce {
	0% { bottom: 65px; }
	25%, 75% { bottom: 68px; }
	50% { bottom: 69px; }
	100% { bottom: 65px; }
}

.lampPost {
	-webkit-animation: slide 2.5s linear infinite;
	-moz-animation: slide 2.5s linear infinite;
	-ms-animation: slide 2.5s linear infinite;
	-o-animation: slide 2.5s linear infinite;
	animation: slide 2.5s linear infinite;
	background-image: url('assets/lampPost.png');
	background-position: 0, 50px;
	background-repeat: repeat-x;
	bottom: 50px;
	height: 208px;
	position: absolute;
	width: 100%;
}

@-webkit-keyframes slide {
	FROM { background-position: 0 center; }
	TO { background-position: -550px center; }
}
@-moz-keyframes slide {
	FROM { background-position: 0 center; }
	TO { background-position: -550px center; }
}
@-ms-keyframes slide {
	FROM { background-position: 0 center; }
	TO { background-position: -550px center; }
}
@-o-keyframes slide {
	FROM { background-position: 0 center; }
	TO { background-position: -550px center; }
}
@keyframes slide {
	FROM { background-position: 0 center; }
	TO { background-position: -550px center; }
}

@media (max-width: 767px) {
	.hondaFit {
		left: 75px;
	}
	.wheels {
		left: 107px;
	}
}